/532_spatial_test/spacial_test_proj/spacial_test_proj.runs
/532_spatial_test/spacial_test_proj/spacial_test_proj.sim
/532_spatial_test/spacial_test_proj/spacial_test_proj.cache
/Vivado_WorkDir/spatial_audio.cache
/Vivado_WorkDir/spatial_audio.runs
/Vivado_WorkDir/spatial_audio.sim
/Vivado_WorkDir/spatial_audio.ip_user_files
